<%if @cart_items_with_quantity.empty?%>
  <h1 class="title is-4">
    Theres no Item in the cart.
  </h1>
<%else%>
<% @cart_items_with_quantity.each do |plant, quantity| %>
  <div class="box">
    <ul class="columns is-multiline">
      <li class="column is-one-fifth">
        <%= image_tag(plant.image, alt: "#{plant.name} Image") %>
      </li>
      <li>
        <h1 class="title is-4">
          <%= link_to plant.name, plant %>
          CA$<%= plant.price * quantity%>
        </h1>
        <%=form_with(url: cart_index_path, method: :post, local: true )do%>
          <%= hidden_field_tag(:id, plant.id)%>
          <%= hidden_field_tag(:source, 'index')%>
          <%= label_tag :quantity, "Quantity", class: "label" %>
          <p>In cart: <%= quantity%></p>
          <div class="field-body has-addon">
            <div class="control">
              <div class="field is-narrow">
                  <%= number_field_tag(:quantity, quantity, min: 1 , class: "input is-primary mb-1" )%>
              </div>
            </div>
            <div class="control">
              <%= button_tag 'Update Quantity',class: "button is-primary mb-1" %>
            </div>
          </div>
        <%end%>
        <%= button_to cart_path(plant), method: :delete, class: "button is-danger is-outlined" do %>
          Remove from cart.
        <%end%>
      </li>
    </ul>
  </div>
<% end %>
<%= button_to "Purchase", invoice_cart_index_path, data: { turbo: false }, class: "button is-primary" %>

<%end%>
