<section class="section">
<div class="box">
  <% if @orders.empty? %>
    <div class="container">
      <h1 class="title has-text-centered has-text-grey">
        There are no orders that have been made yet.
      </h1>
    </div>
  <% else %>
    <h1 class="title has-text-centered">Order History</h1>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Order#</th>
          <th>Ordered Date</th>
          <th>Total Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% total_cost = order.total + order.gst_tax + order.pst_tax + order.hst_tax %>
          <tr>
            <td><%= link_to "Order ##{order.id}", order %></td>
            <td><%= order.created_at.strftime("%B %d, %Y") %></td>
            <td><%= number_to_currency(total_cost) %></td>
            <td>
              <% if order.order_status_id == 1 %>
                <%= link_to "Pay now", checkout_create_path + "?order_id=#{order.id}"%>
              <% else %>
                <%= order.order_status.status %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
</div>
