
<section class="section">
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="box">
        <div class="columns is-vcentered">
          <% if @plant.image.present? %>
            <div class="column is-two-quarters">
              <figure class="image">
                <%= image_tag(@plant.image, alt: "#{@plant.name} Image") %>
              </figure>
            </div>
          <% end %>
          <div class="column">
            <h1 class="title pb-2 has-text-centered"><%= @plant.name %></h1>
            <p class="subtitle"><%= @plant.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="box">
        <h2 class="title">Information</h2>
        <ul>
          <li><strong>Price: </strong>CA$ <%= @plant.price %></li>
          <% if @plant_current_stock == 0 %>
            <li><strong>Stock: </strong>Out of Stock</li>
          <% else %>
            <li><strong>Stock: </strong><%= @plant.stock %></li>
          <% end %>
          <li><strong>In cart: </strong><%= @plant_in_cart.nil? ? 0 : @plant_in_cart %></li>
          <li><strong>Other Names: </strong><%= @plant.other_name %></li>
          <li><strong>Type: </strong><%= link_to @plant.plant_type.name, @plant.plant_type %></li>
        </ul>
        <% if @plant_current_stock > 0 %>
          <%= form_with url: cart_index_path, method: :post, class: "has-text-centered" do |form| %>
            <%= hidden_field_tag(:id, @plant.id) %>
            <div class="field has-addons has-addons-centered  mt-3">
              <div class="control">
                <%= number_field_tag(:quantity, 1, min: 1, max: @plant_current_stock.to_i, class: "input is-primary") %>
              </div>
              <div class="control">
                <%= button_tag class: "button is-primary" do %>t
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-cart-plus"></i>
                    </span>
                    <span>Add to Cart</span>
                  </span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @plants.present? %>
  <h2 class="title is-3">
    You might also like these products.
  </h2>
    <ul class="columns is-multiline">
    <% @plants.each do |plant| %>
      <li class="column is-one-quarter">
        <div class="box has-text-centered">
          <% if plant.image.present?%>
            <figure class="is-justify-content-center">
              <%= image_tag(plant.image, alt: "#{plant.name} Image") %>
            </figure>
          <%end%>
          <p class="title is-5"><%= link_to plant.name, plant %></p>
          <p class="content">CA$<%= plant.price %></p>
        </div>
      </li>
    <% end %>
   </ul>
  <h2 class="title is-4 has-text-centered">
    <%= link_to "View more #{@type.name} products", @type %>
  </h2>
  <% end %>
</section>
