<% content_for(:html_title) { @plant.name } %>
<section class="section">
  <div class="box">
    <h1 class="title">
      <% if @plant.image.present?%>
        <figure class="image is-128x128">
          <%= image_tag(@plant.image, alt: "#{@plant.name} Image") %>
        </figure>
      <%end%>
      <%= @plant.name %>
    </h1>
    <p class="subtitle">
      <%= @plant.description %>
    </p>
  </div>
  <div class="box">
    <h2 class="title">Information</h2>
    <ul>
      <li><strong>Price:</strong>CA$<%= @plant.price %></li>
      <li><strong>Other Names:</strong> <%= @plant.other_name %></li>
      <li><strong>Type:</strong> <%=  link_to @plant.plant_type.name, @plant.plant_type %></li>
    </ul>
      <%=form_with url: cart_index_path, method: :post do |form|%>
        <%= hidden_field_tag(:id, @plant.id)%>
        <%= label_tag :quantity, "Quantity", class: "label" %>
        <div class="field-body">
          <div class="field is-narrow">
              <%= number_field_tag(:quantity,1, min: 1 , class: "input is-primary" )%>
          </div>
        </div>
        <%= button_tag 'Add to cart',class: "button is-primary mt-2" %>
      <%end%>
  </div>
</section>